body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  width: 100%;
  height: 100%;
}

/* Global */
.container{
  width:90%;
  margin:auto;
  display: block;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  border-bottom:	#a50007 5px solid;
  position: fixd;  
  top:0px;
}

header #branding{
  margin: 0;
  display:block;
  padding:5px;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:14px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top:5px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  padding-top:90px;
  color:#000000;
}

#showcase h1{
  text-align:left;
}
/* Ecuador */
.ecuador{
		width: 30%;
		margin: auto;
		display:inline;
		position:fixed;
		}
    
    .carousel { 
    position: fixed; 
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64); 
    top: 150px; 
    } 
.carousel-inner { 
position: relative; 
overflow: hidden; 
width: 100%; 
} 
.carousel-open:checked + .carousel-item { 
position: static; 
opacity: 100; 
} 
.carousel-item { 
position: absolute; 
opacity: 0; 
-webkit-transition: opacity 0.6s ease-out; 
transition: opacity 0.6s ease-out;
} 
.carousel-item img { 
display: block; 
height: auto; 
max-width: 100%; 
} 
.carousel-control { 
background: rgba(0, 0, 0, 0.28);
border-radius: 50%;
color: #fff; 
cursor: pointer;
display: none; 
font-size: 40px; 
height: 40px; 
line-height: 35px; 
position: absolute; 
top: 50%; -webkit-transform: translate(0, -50%); 
cursor: pointer; 
-ms-transform: translate(0, -50%); transform: translate(0, -50%); text-align: center; 
width: 40px; 
z-index: 10; 
}
 .carousel-control.prev { left: 2%; } 
 .carousel-control.next { right: 2%; } 
 .carousel-control:hover { 
 background: rgba(0, 0, 0, 0.8);
 color: #aaaaaa;
 }
  #carousel-1:checked ~ .control-1,
  #carousel-2:checked ~ .control-2,
  #carousel-3:checked ~ .control-3 { display: block; } 
  .carousel-indicators {
  list-style: none; 
  margin: 0; 
  padding: 0; 
  position: absolute;
  bottom: 2%; 
  left: 0; 
  right: 0; 
  text-align: center; 
  z-index: 10;
  } 
  .carousel-indicators li { 
  display: inline-block; 
  margin: 0 5px; 
  }
   .carousel-bullet { 
   color: #fff; 
   cursor: pointer; 
   display: block; 
   font-size: 35px; 
   } 
   .carousel-bullet:hover { 
   color: #aaaaaa; 
   } 
   #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
   #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
   #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet{ 
   color: #428bca; 
   }
   
   #title { 
   width: 100%;
   position: absolute;
   padding: 0px;
   margin: 0px auto;
   text-align: center; 
   font-size: 27px;
   color: rgba(255, 255, 255, 1);
   font-family: 'Open Sans', sans-serif;
   z-index: 9999;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
   }

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:0;
  margin:0;
  color:#ffffff;
  background-color:#284778;
  text-align: center;
  position:fixed;
  bottom:0px;
  width: 100%;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:5px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
